
      #scrolly {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: white;
        padding: 10rem 1rem;
        margin-bottom: 200px;
      }

      #scrolly > * {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
      }

      article {
        position: relative;
        padding: 0 1rem;
        max-width: 35rem;
      }

.img-scroll-style{
    width: 60rem;
    margin-left: 60px;
    padding-bottom: 200px;
    margin-top: -50px;
}

      figure {
        position: -webkit-sticky;
        position: sticky;
        width: 100%;
        margin: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        /*background-color: #8a8a8a;*/
        z-index: 0;
      }

      

      .step {
        margin: 10rem 2rem;
        background-color: transparent;
        color: #333333;
      }

      .step:last-child {
        margin-bottom: -5rem;
      }

      

      